@model ManagersAppendJob
@{
    Layout = "_Layout";
    ViewBag.Title = "Добавление задания";

    var creator = Model.Employees.FirstOrDefault(e => e.Login == User.Identity.Name);
    var employees = Model.Employees;
    List<SelectListItem> emplNamesToIdSelect = new();
    foreach (var empl in employees)
    {
        emplNamesToIdSelect.Add(new SelectListItem() 
        {
            Text = empl.FatherName == null || empl.FatherName == string.Empty 
            ? string.Join(' ', new string[]{ empl.FirstName, empl.SecondName}) 
            : string.Join(' ', new string[] { empl.FirstName, empl.SecondName, empl.FatherName }),
            Value = empl.EmployeeId.ToString()
        });
    }
    List<SelectListItem> priorities = new()
    {
        new SelectListItem(){ Text="Не так важно", Value="low"},
        new SelectListItem(){ Text="Умеренно важно", Value="medium"},
        new SelectListItem(){ Text="Срочно", Value="high"}
    };
    List<SelectListItem> isContract = new()
    {
        new SelectListItem(){Text="Да", Value=Model.Contract.ContractId.ToString()},
        new SelectListItem(){Text="Нет", Value=null}
    };
}

<div class="row">
    <h2 class="row">Страница создания нового задания</h2>
    @using(Html.BeginForm("AppendJob", "Work", FormMethod.Post, new { @class="row alert alert-success mt-2" }))
    {
        <p class="row">Вы:<strong>@creator.FirstName @creator.SecondName</strong></p>
        <div class=row>
            <p class="col">Задание создаётся для: </p>
            @Html.DropDownListFor(j => j.JobToAppend.ExecutorEmplId, emplNamesToIdSelect , new { @class = "col-8 m-1 rounded" });
        </div>
        <div class="row">
            <p class="col">Задание для данного контракта?</p>
            @Html.DropDownListFor(j => j.JobToAppend.ContrId, isContract, new{@class="col"})
        </div>
        <label for="description">Описание задачи</label>
        @Html.TextBoxFor(j => j.JobToAppend.Description, new{ @name="description", @placeholder="Введите описание задачи", @class="row mt-1 mb-1"})
        @Html.DropDownListFor(j => j.JobToAppend.Prior, priorities, new { @class="row mt-1 mb-1"})
        <input class="row mt-2 btn btn-primary" type="submit" value="Подтвердить создание задания"/>
    }
</div>
