@model ClientOrderInfo
@{
    Layout = "_Layout";
    ViewBag.Title = "Сделать заказ";
}

<div class="row">
    <h1 class="row">Форма оформления заказа</h1>
    @using(Html.BeginForm("ClientOrder","Work",FormMethod.Post, new { @class="col" }))
    {
        @Html.Label("Имя")
        @Html.TextBoxFor(fn => fn.FirstName, new { @placeholder="Введите имя заказчика", @class="row mt-1 mt-1"} )
        
        @Html.Label("Фамилия")
        @Html.TextBoxFor(sn => sn.SecondName, new { @placeholder="Введите фамилию заказчика", @class="row mt-1 mb-1"})
        
        @Html.Label("Название организации * ")
        @Html.ValidationMessageFor(fn => fn.OrganisationName, "", new { @style="font-size: 10px"})
        @Html.TextBoxFor(on => on.OrganisationName, new { @placeholder="Введите название организации заказчика", @class="row mt-1 mb-1", @id="orgName"})
        
        @Html.Label("Номер телефона")
        @Html.ValidationMessageFor(d => d.Phone, "", new { @style="font-size: 10px"})
        @Html.TextBoxFor(p => p.Phone, null, new { type="phone", @placeholder="Введите номер телефона", @class="row mt-1 mb-1"})
        
        @Html.Label("Электронная почта")
        @Html.TextBoxFor(e => e.Email, new{ type="email", @placeholder="Введите электронную почту" , @class="row mt-1 mb-1"})
        
        @Html.Label("Дата, к которой всё должно быть готово * ")
        @Html.ValidationMessageFor(d => d.ContractInfo.Deadline, "", new { @style="font-size: 10px"})
        @Html.TextBoxFor(d => d.ContractInfo.Deadline,new{type="date" , @class="row mt-1 mb-1", @id="endDate"})
        
        @Html.Label("Выберите сколько и каких кроссовок нужно *")
        <div class="row rounded-2 btn-light">
            @foreach (Sneaker sneaker in ViewBag.Sneakers)
            {
                var pairWeight = sneaker.Weight.Value * 2;

                <div class="col-10">
                    <p class="row"><strong>@sneaker.Model</strong></p>
                    <p class="row ms-3">Вес одной пары составит: @pairWeight</p>
                </div>
                @Html.TextBoxFor(model => model.SneakerIdToValue[sneaker.SneakerId.ToString()], new { @class="col", @min="0", @step="1", @type="number", @max="30",  @id=sneaker.SneakerId.ToString() })
                @Html.ValidationMessageFor(model => model.SneakerIdToValue, "", new { @style="font-size: 10px"})
            }
        </div>
        
        @Html.Label("Дата встречи, если требуется")
        @Html.TextBoxFor(m => m.Meeting, new {type="date", @class="row mt-1 mb-1"})
        
        @Html.Label("Адрес вашей компании")
        @Html.TextBoxFor(a => a.Address, new{ @class="row mt-1 mb-1" })
        
        <p class="row mt-2 h4">Убедитесь, что все обязательные поля с '*' заполнены.</p>
        <input id="orderSub" class="row mt-1 btn btn-success" type="submit" value="Создать заказ"/>
    }
</div>

@section Scripts {
    <script src="~/js/ClientOrderValidation.js"></script>
}
